<div class="form-group row">
    <div class="col-5 offset-2">
        <div class="row">
            <div class="col-6">
                <input type="submit" class="btn btn-primary form-control" value="Create" />
            </div>
            <div class="col-6">
                <a class="btn btn-success form-control" asp-page="Index">Back To List</a>
            </div>
        </div>
    </div>
</div>
